:root{
    font-family: "Plus Jakarta Sans", sans-serif;
}

h1{
    font-size: 3em;
    color: rgba(46, 136, 46, 0.767);
    
}

p{
    font-size: 1.5em;
}

#buttoncontainer{
    display: flex;
    justify-content: space-evenly;
}

.rolebutton{
    width: 15%;
    height: 4rem;
    text-align: center;
    font-size: 2em;
    background-color: rgba(145, 163, 163, 0.76);
}



#title{
    text-align: center;
}

main{
    display: flex;
    align-items: center;
}

/* .cardcontainer{
    height : 30rem;
    width: 100%;
}

a{
    display: block;
    width: 18rem;
    height: 27rem;
    z-index: -1;
} */

img{
    width: 18rem;
    height: 27rem;
    margin: .5em;
    z-index: 2;
}

#addbutton{
    width: 6rem;
    height: 6rem;
    font-size: 2em;
}

#reset{
    width: 90%;
    text-align: center;
    margin-top: 2rem;
}

#resetbutton{
    width: 20%;
    height: 4rem;
    text-align: center;
    font-size: 3em;
    background-color: rgba(101, 247, 181, 0.76);
}

